body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Halant", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
p,
.tool,
.footer-copyright {
  font-family: "Nunito Sans", sans-serif;
}

p {
  line-height: 200%;
}
