.Card_container {
  width: fit-content;
  margin: 10px 0 0 10px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #eff5f7;
}
